*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(207, 18, 81);
    color: #ffffff;
    font-family: 'Fjalla One', sans-serif;
    display: flex;
    justify-content: space-between;
    min-height: 70px;

    
}

header h1{
    margin-top: 15px ;
    margin-left: 50px
}

header button{
    margin: 10px 50px 10px 30px;;
    background-color: white;
    color: rgba(207, 18, 81, 0.623);
    border: none;
    outline: none;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.main{
    background: linear-gradient(120deg, teal, rgba(207, 18, 81, 0.623));
    min-height: 500px;

}

.timer{
    font-family: monospace;
    color: white;
    font-size: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 150px;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 200px;
}

.main button{
    font-size: 40px;
    background-color: white;
    color: rgba(207, 18, 81, 0.623);
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
    margin: 10px ;
    font-family: 'Carme', sans-serif;  
    font-weight: bold;

}

.about{
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -45px;
    
}

.about p{
    min-height: auto;
    max-width: 120vh;
    padding: 10px;
    border-radius: 5px;
    color: White;
    font-size: 25px;
    background-color: teal;
    font-family: 'Carme', sans-serif;  
}

#about-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin: 30px 0 0px 0;
    font-family:'Carme', sans-serif;
}

#tips-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin: 30px 0 40px 0;
    font-family:'Carme', sans-serif;
}

.tips{
    max-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tips p{
    background-color: teal;
    margin: 0 30vh 5vh 40vh;
    box-shadow: 5px 5px;  
    border-radius: 5px;
    padding: 10px;
    color: black;
    font-size: 25px;
    font-family: 'Carme', sans-serif; 
}